/**
 * Color Scheme:
 *
 * #a1cef5 | Light blue
 * #f5c0a1 | Orange
 * #65a4dc | Dark Blue
 * #b5a1f5 | Purple
 * #a1f5c8 | Light green
 * #f5d5a1 | Yellow-orange
 * #f5aba1 | Light red
 * #f5eaa1 | Yellow
 * #f5a1b8 | Pink
 * #dfa1f5 | Alt purple
 */

* {
    box-sizing: border-box;
}

body {
    background-image: url("/Apps/FariesAR/DynamicOutput/Media/FariesSiteBGImg.png");
    font-size: 16px;
    font-family: 'Fredericka the Great', cursive;;
}

a {
    text-decoration: none;
    background: #020304;
    opacity: 0.72;
    border: 1px solid #65a4dc;
    border-radius: 7em 0 7em 0;
    padding: .5em 1em;
}

.datetime {
    background: #020304;
    opacity: 0.72;
    margin: 1em auto;
    padding: .5em;
    display: none;
}

.datetime, a, a:visited {
    color: #a1f5c8;
}

a:hover {
    color: #020304;
    text-shadow: 3px 3px 3px #65a4dc;
    background: #a1f5c8;
}

.defaultHeader {
    padding: .1em 2.4em;
    color: #f5c0a1;
}

.defaultText {
    color: #a1cef5;
    padding: 0 5em;
}

.contentContainer {
    background: #020304;
    opacity: 0.72;
    border: 2px double #65a4dc;
    border-radius: 0em 7em 0em 7em;
}

li {
    display: inline;
}
